/* -----  HTML Element Selectors ------ */

* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    margin: 0;
}

button {
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  color: white;
  background-color: #76c7bf;
  font-size: 1.2em;
  margin-top: 30px;
}

header {
  text-align: center;
  color: white;
  background-color: black;
  padding: 25px 0;
}

fieldset {
  border: none;
  padding-bottom: 35px;
}

footer {
  text-align: center;
}

footer p {
  color: #c1bbc5;
  padding-bottom: 180px;
}

input,
select {
  border-style: none;
  background-color: #f7f1f1;
  border-radius: 7px;
  padding: 15px 15px 15px;
}

input::placeholder {
  font-size: 0.9em;
  padding-right: 8%;
  text-align: right;
}

input:focus,
select:focus {
  background-color: #F3D8D7;
}

legend {
  font-size: 1.25em;
}

select {
  color: gray;
  padding-left: 5%;
}

label {
  padding: 15px 0;
}

textarea {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: #f7f1f1;
  border: none;
}

/* ----- ID Selectors ------ */

#zip_code {
  width: 55%;
}

/* ----- Class Selectors ------ */

.form-header {
  padding: 25px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border-bottom: double 5px black;
}

.intro p,
.intro h3 {
  align-self: center;
}

.intro h3 {
  padding-bottom: 8px;
}

.intro p {
  text-align: center;
}

.main-content {
  max-width: 90%;
  margin: auto;
}

.item {
  display: flex;
  flex-direction: column;
}

.zip_code {
  display: flex;
  flex-direction: column;
}

.part1 {
  border-bottom: solid 2px black;
}

.part2 legend {
  padding-top: 20px;
}

.part2 textarea {
  padding-bottom: 60px;
  margin-top: 20px;
}

.topic,
.format {
  padding: 20px 0;
  line-height: 2em;
}

/* ----- Media Queries Selectors ------ */

@media(min-width: 768px) {

  .item {
    flex-direction: row;
    justify-content: space-between;
  }

  .item input,
  .item select {
    margin-left: 7%;
    max-width: 70%;
  }

  .item label + input,
  .state label + select {
    flex-grow: 1;
    margin-bottom: 15px;
  }

  .main-content {
    max-width: 80%;
  }

  .zip_code {
    display: block;
  }

  .zip_code label,
  .zip_code input {
    display: inline-block;
    float: left;
  }

  .zip_code label {
    width: 30%;
  }

  #zip_code {
    width: 35%;
  }

}
